@{
    ViewData["Title"] = "Home Page";
    // var saludo = "¡Hola Mundo!";
    // var fecha = DateTime.Today;
}

<h1>@ViewBag.saludo</h1>
<h2>Hoy es @ViewBag.fecha</h2>
<div class="text-center">
    <h1 class="display-4">We are so back!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
