<form [formGroup]="myForm" (ngSubmit)="rellenarAlta(myForm)">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre">
        <div *ngIf="myForm.get('nombre')&& (myForm.get('nombre') || myForm.get('nombre'))"></div>
      </div>
    
    <div class="form-group">
      <label for="apellido">fecha nacimiento:</label>
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento">
      <div *ngIf="myForm.get('fechaNacimiento')&& (myForm.get('fechaNacimiento') || myForm.get('fechaNacimiento'))">
        
      </div>
    </div>
    <!-- Agrega más campos y mensajes de validación según tus necesidades -->
    <button type="submit">Registrar</button>
  </form>