@model IEnumerable<Moneda> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1>Son @Model.Count() monedas</h1>
   @foreach (var moneda in Model)
    {
        <h2>@moneda.CodigoMoneda</h2>
        <h3>@moneda.Descripcion</h3>
    }
</div>

